NODE_ENV=development

PORT=4000
API_PREFIX=/api/v1

# Mongo Database
MONGO_URL_FALLBACK=mongodb://localhost:27022/aidn
MONGODB_URI=mongodb://admin:CHANGE_ME_STRONG@100.84.234.98:27017/aidn?replicaSet=rs0&authSource=admin&directConnection=true

# JWT Configuration
JWT_SECRET="Yzw8EaAEqfH5IBi9IcN9p4KKhRAfnIZJ7fPasZYZiA4="
JWT_REFRESH_SECRET="X0FXY9Dv5sCefr/cHE31x6r0lV2QjWGzoxto1skL8cw="

JWT_EXPIRES_IN=8h

CORS_ORIGIN=http://localhost:5173

BOOTSTRAP_ADMIN_FULL_NAME=Bootstrap Admin
BOOTSTRAP_ADMIN_EMAIL=admin@aidn.local
BOOTSTRAP_ADMIN_PASSWORD=password
MOCK_PERSONNEL_ENABLED=true

OFFICIAL_PERSONNEL_DB_HOST=100.84.234.98
OFFICIAL_PERSONNEL_DB_PORT=3307
OFFICIAL_PERSONNEL_DB_NAME=admin
OFFICIAL_PERSONNEL_DB_USER=admin
OFFICIAL_PERSONNEL_DB_PASSWORD=dev_db

# JWT_ALG=RS256
# JWT_ISSUER=aidn-auth
# JWT_AUDIENCE=aidn-admin
# JWT_PUBLIC_KEY_PATH=/shared/certs/jwt-public.pem

# JWT_ACCESS_TTL_MIN = 40
# JWT_ACCESS_TTL_DAY = 30